appdirs==1.4.4
astroid==2.6.6
backcall==0.2.0
certifi==2021.10.8
cobra==0.25.0
cycler==0.10.0
decorator==5.1.0
depinfo==1.7.0
future==0.18.2
#gurobipy==10.0.1
ipykernel==6.4.1
ipython==7.29.0
ipython-genutils==0.2.0
isort==5.9.3
jedi==0.18.0
joblib==1.1.0
jupyter-client==6.1.12
jupyter-core==4.8.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
matplotlib==3.4.3
mccabe==0.6.1
mpmath==1.2.1
nose==1.3.7
numpy==1.22.4
openpyxl==2.6.4
optlang==1.5.2
pandas==1.3.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pydot==.4.2
Pygments==2.10.0
pylint==2.9.6
Pyomo==6.4.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
ruamel.yaml==0.17.21
scipy==1.7.1
shap==0.41.0
six==1.16.0
swiglpk==5.0.5
sympy==1.9
tabulate==0.8.10
toml==0.10.2
tornado==6.1
typed-ast==1.4.3
wcwidth==0.2.5
wrapt==1.12.1
